[Unit]
Description=MIDI Bluetooth connect
After=bluetooth.target
Requires=bluetooth.target

[Service]
ExecStartPre=/bin/sleep 6
Type=simple
User=root
Group=root
WorkingDirectory=/home/pi
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=btmidi
Restart=always
ExecStart=/usr/bin/btmidi-server -n "RPi Bluetooth"

[Install]
WantedBy=multi-user.target
